
@{
    ViewBag.Title = "FAQ";
}

<h2>Phong Nguyen FAQ</h2>



<div class="row">
    Row 1
    <div class="col-2">
        Column 1
    </div>
    <div class="col">
        Column 2    
    </div>
</div>

<div class="row">
    Row 2
</div>